[Unit]
Description=audio to influx

[Service]
User=dpavlin
ExecStart=/home/dpavlin/air-quality/audio2influx.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
